<div class='row center-align'><h2><%= @user.username %>'s Study Page!</h2></div>

<div class='row'>
  <div class='col s12 m4 center-align'><%=@user.bio%></div>
  <div class='col s12 m4 center-align'></div>
  <div class='col s12 m4 center-align'>
    <%if current_user == @user%>
      <%=link_to "Create New Study Room", new_study_room_path, class: "waves-effect waves-light btn"%> 
    <%end%>
  </div>
</div>

<div class='row'>
<div class='col s12 m4 left-align'><h4>Hosting</h4></div>
<div class='col s12 m4 center-align'><h4>Map</h4></div>
<div class='col s12 m4 right-align'><h4>Locations</h4></div>
</div>

<div class='row'>
  <div class='col s12 m4 card section'>
    <%if @user.all_owned.present?%>
      
      <%@user.all_owned.each do |room|%>
        <h5><%=link_to "#{room.name}", study_room_path(room.slug)%></h5>
        <span><%=link_to "#{room.location.name}, #{room.location.address}", study_room_path(room.slug)%></span><br>
      <%end%>
      
    <%end%>
  </div>
  <div class="col s4 m4 card section"><img class="responsive-img center" src=<%="https://maps.googleapis.com/maps/api/staticmap?size=300x400&scale=3"+Location.coord_output(@user.all_locations)%>></div>
  <div class="col s12 m4 card section right-align">
    <%@user.all_locations.each do |location|%>
      <h5><%=link_to "#{location.name}", location_path(location.slug)%></h5>
      <span><%=link_to "#{location.address}", location_path(location.slug)%></span><br>
    <%end%>
  </div>
</div>
<div class='row'>
<div class='col s12 m4 left-align'><h4>Attending</h4></div>
<div class='col s12 m8 right-align'><h4>Categories</h4></div>
</div>
<div class='row'>
  <div class='col s12 m4 card section'>
    <%if @user.all_unowned.present?%>
      
        <%@user.all_unowned.each do |room|%>
          <h5><%=link_to "#{room.name}", study_room_path(room.slug)%></h5>
          <span><%=link_to "#{room.location.name} - #{room.location.address}", study_room_path(room.slug)%></span><br>
        
        <%end%>
      
    <%end%>
  </div>
  
    <div class='center-align'>
    
      <%if @user.all_categories.present?%>
    
        
          <%@user.all_categories.each do |cat|%>
          
            
            <div class="col s2 m2 card"><h6><%=link_to "#{cat.name}", category_path(cat.slug)%></h6></div>
            
          <%end%>
        
      <%end%>
      
    </div>
  
</div>

<%= link_to "Back to all", study_rooms_path %>
