<div class="container">

<div class='row center-align ' style="font-size:200%"><%= @user.username %>'s Study Page!</div>

<div class='row'>
  <div class='col s12 center-align'><%=@user.bio%></div>
  <div class='col s12 center-align'>
    <%if current_user == @user%>
      <%=link_to "Create New Study Room", new_study_room_path, class: "waves-effect waves-light btn"%>
    <%end%>
  </div>
</div>

<!--Top Header Row -->
<div class='row'>
  <div class='col s4 center-align' class="center-align" style="font-size:140%">Hosting</div>
  <div class='col s4 center-align' style="font-size:140%">Map</div>
  <div class='col s4 center-align' style="font-size:140%">Locations</div>
</div>

<!--Top Cards Row -->
<div class='row d-flex'>
  <%=render 'hosted_rooms'%>
  <div class="card-panel col s12 m4 center-align"><img class="responsive-img center" src=<%="https://maps.googleapis.com/maps/api/staticmap?size=300x400&scale=3"+Location.coord_output(@user.all_locations)%>></div>
  <%=render 'user_locations'%>
</div>

<!--Lower Header Row -->
<div class='row'>
  <div class='col s12 m4 center-align' style="font-size:140%">Attending</div>
  <div class='col s12 m2 center-align'></div>
  <div class='col s12 m6 center-align' style="font-size:140%">Categories</div>
</div>

<!--Lower Cards Row -->
<div class='row'>
  <%=render 'rooms_attending'%>

    <div class='center-align'>
      <%if @user.all_categories.present?%>
          <%@user.all_categories.each do |cat|%>
            <div><h5><%=link_to "#{cat.name}", category_path(cat.slug), class: "col s12 m3 card-panel grey lighten-2 hoverable right center-align"%></h5></div>
          <%end%>
      <%end%>
    </div>
</div>
</div>
