<div class="container">
  <div class="row"> <!-- Page Title -->
    <div class="center-align">
      <h3> Site Analytics </div>
    </div>
  </div>

  <div class = "row"> <!-- Totals -->
      <div class="col s4 left-align">
        <br>
        <h5> Totals </h4>
      </div>

      <div class="col s8">
        <table class="striped centered bordered">
            <thead>
              <tr>
                  <th> Users </th>
                  <th> Study Rooms </th>
                  <th> Categories </th>
                  <th> Locations </th>
              </tr>
            </thead>
              <tbody>
                <td> <%= @users.count %> </td>
                <td> <%= @study_rooms.count %> </td>
                <td> <%= @categories.count %> </td>
                <td> <%= @locations.count %> </td>
              </tbody>
        </table>
       </div>
   </div>

   <div class="row"> <!-- Studyrooms by Category -->
     <div class="col s4 left-align">
       <br>
       <h5> Study Rooms by Category </h4>
     </div>

     <div class="col s8">
       <table class="striped centered bordered">
           <thead>
             <tr>
                 <th> Category </th>
                 <th>  Study Rooms </th>
             </tr>
           </thead>

           <% @by_cat.each do |name, number| %>
             <tbody>
               <td> <%= name %> </td>
               <td> <%= number %> </td>
             </tbody>
             <% end %>
       </table>
     </div>
   </div>

   <div class="row"> <!-- Studyrooms by Location -->
     <div class="col s4 left-align">
       <br>
       <h5> Study Rooms by Location </h4>
     </div>

     <div class="col s8">
       <table class="striped centered bordered">
           <thead>
             <tr>
                 <th> Location </th>
                 <th>  Study Rooms </th>
             </tr>
           </thead>

           <% @by_loc.each do |name, number| %>
             <tbody>
               <td> <%= name %> </td>
               <td> <%= number %> </td>
             </tbody>
             <% end %>
       </table>
      </div>
    </div>

    <div class="row"> <!-- Studyrooms by User -->
      <div class="col s4 left-align">
        <br>
        <h5> Study Rooms by User </h4>
      </div>

      <div class="col s8">
        <table class="striped centered bordered">
            <thead>
              <tr>
                  <th> User </th>
                  <th>  Study Rooms </th>
              </tr>
            </thead>

            <% @by_user.each do |name, number| %>
              <tbody>
                <td> <%= name %> </td>
                <td> <%= number %> </td>
              </tbody>
              <% end %>
        </table>
       </div>
     </div>
     </div>
