<div class="container">
<h3> Edit a Study Room </h3>

  <%= form_for (@study_room) do |f| %>
      <div class="row">  <!-- Name and Blank Column -->
        <div class="col s4">
          <b> Name </b>
          <%= f.text_field :name %> <br>
        </div>
        <div class="col s8">
        </div>
      </div>
      <div class="row">  <!-- Date, Start Time and -->
        <% date = @study_room.start_time.to_datetime.strftime('%Y-%m-%d') %>
        <% time = @study_room.start_time.to_datetime.strftime("%T.%L") %>
        <% duration = (@study_room.end_time.to_time - @study_room.start_time.to_time) / 3600.0 %>

        <%= f.fields_for :time do |t| %>
          <div class="col s4">
            <b> Date </b> <%= t.date_field :date, value: "#{date}" %>
          </div>

          <div class="col s4">
            <b> Starting Time </b> <%= t.time_field :start_time, value: time %>
          </div>

          <div class="col s4">
            <b> Duration </b> (in hours) <%= t.number_field :duration, step: 0.25, value: "#{duration}" %> <br> <br>
          </div>
        <% end %>

      </div>

      <div class="row"> <!-- Category Selector and Location Selector --->

        <div class="col s6">
          <b> Category </b>
          <%= f.select :category_id, @categories.collect {|category| [category.name, category.id]}, {prompt: "Choose a category"}, class: "browser-default" %>
        </div>

        <div class="col s6">
          <b> Location </b>
          <%= f.select :location_id, @locations.collect {|location| [location.name, location.id]}, {prompt: "Choose a location"}, class: "browser-default" %>
        </div>

      </div>

      <div class="row"> <!-- Create a new Category and Create a new Location -->
          <div class="col s6">

           <b> Add a category </b> <br>
           <br>
           <%= f.fields_for :category do |c| %>
             Name  <%= c.text_field :name %> <br> <br>
             Description <%= c.text_area :description %> <br> <br>
           <% end %>
          </div>

          <div class="col s6">

          <b> Add a location </b> <br>
          <br>
           <%= f.fields_for :location do |l| %>
             Name <%= l.text_field :name %> <br> <br>
             Address <%= l.text_area :address %> <br> <br>
             <%= l.check_box :wifi, {checked: @study_room.location.wifi }, "true", "false" %>
             <%= l.label :wifi, "Free Wifi" %> <br> <br>
             Available spots <%= l.number_field :capacity, min: 1, value: @study_room.location.capacity %> <br> <br>
             Volume at location <%= l.number_field :volume, min: 1, value: @study_room.location.volume %> <br> <br>
           <% end %>
          </div>

      </div>

      <div class="row"> <!-- Empty Row -->
      </div>

      <div class = "row"> <!-- Sumit Button -->

        <div class="col s12">
          <%= f.submit class: "waves-effect waves-light btn" %>
        </div>

      </div>

  <% end %>
</div>
