<h3> Available Study Rooms </h3>

<%= render "search.html" %>

<% @study_rooms.each do |study_room|  %>

<ul>
  <li> <b> <%= link_to study_room.name, study_room_path(study_room.slug) %> </b> </li>
  <p> <b> Study Category: </b> <%= link_to study_room.category.name, category_path(study_room.category.slug) %> <p>
  <p> <b> Location: </b> <%= link_to study_room.location.name, location_path(study_room.location.slug) %> </P>
</ul>
<% end %>

<%=link_to "See all Users", users_path%>
<%=link_to "See all Locations", locations_path%>
<%=link_to "See all Categories", categories_path%>
