<h3> Create a New Study Room </h3>
<%= flash[:notice] %>
<p>
  <%= form_for (@study_room) do |f| %>
    <b> Name </b>
    <%= f.text_field :name %> <br>
    <br> <hr> <br>
    <b> Category </b>
    <%= f.select :category_id, @categories.collect {|category| [category.name, category.id]}, {include_blank: true} %> <br>
    <br>
    <%= f.fields_for :category do |c| %>
      <b> Create a new category </b> <br> <br>
      Name  <%= c.text_field :name %> <br> <br>
      Description <%= c.text_area :description %> <br> <br>
    <% end %>
    <hr> <br>
    <b> Location </b>
    <%= f.select :location_id, @locations.collect {|location| [location.name, location.id]}, {include_blank: true} %> <br>
    <br>
    <%= f.fields_for :location do |l| %>
      <b> Create a new location </b> <br> <br>
      Name <%= l.text_field :name %> <br> <br>
      Address <%= l.text_area :address %> <br> <br>
      Wifi <%= l.check_box :wifi, {}, "true", "false" %> <br> <br>
      Available spots <%= l.number_field :capacity, min: 1 %> <br> <br>
      Volume at location <%= l.text_field :volume %> <br> <br>
    <% end %>
    <hr> <br>
    <%= f.fields_for :time do |t| %>
      <b> Date </b> <%= t.date_field :date %> <br> <br>
      <b> Starting Time </b> <%= t.time_field :start_time, step: 15 %> <br> <br>
      <b> Duration </b> (in hours) <%= t.number_field :duration, step: 0.25 %> <br> <br>
    <% end %>
    <%= f.submit %>
  <% end %>
</p>

<a href="/locations/new" rel="noopener noreferrer" target="_blank">Add New Location</a>

<%=link_to "Return to Study Rooms", study_rooms_path%>
<%=link_to "See all Users", users_path%>
<%=link_to "See all Locations", locations_path%>
<%=link_to "See all Categories", categories_path%>
