<h3> Create a New Study Room </h3>
<br>
<%= flash[:notice] %>
<p>
  <%= form_for (@study_room) do |f| %>
  <b> Name </b> <br>
  <%= f.text_field :name %> <br>
  <br>
  <b> Categories </b> <br>
  <%= f.select :category_id, @categories.collect {|category| [category.name, category.id]}, {include_blank: true} %> <br>
  <br>


  <%= f.fields_for :category do |c| %>
    <b> Create a new category </b> <br>
    Name <br>
    <%= c.text_field :name %> <br>
    Description <br>
    <%= c.text_area :description %> <br>
  <% end %>
  <br>
  <b> Location </b> <br>
  <%= f.select :location_id, @locations.collect {|location| [location.name, location.id]}, {include_blank: true} %> <br>
  <br>

  <%= f.fields_for :location do |l| %>
    <b> Create a new location </b> <br>
    Name <br>
    <%= l.text_field :name %> <br>
    Address <br>
    <%= l.text_area :address %> <br>
  <% end %>
  <br>
  <%= f.fields_for :time do |t| %>
    <b> Date </b> <br>
    <%= t.date_field :date %> <br>
    <br>
    <b> Starting Time </b> <br>
    <%= t.time_field :start_time, step: 15 %> <br>
    <br>
    <b> Duration </b> (in hours) <br>
    <%= t.number_field :duration, step: 0.25 %> <br>
  <% end %>
  <br>

  <%= f.submit %>
  <% end %>
</p>
