<h3> <%= @study_room.name %>  </h3>

<ul>
  <li> <p> <b> Category: </b> <%= link_to @study_room.category.name, category_path(@study_room.category.slug)  %> </p> </li>
  <li> <p> <b> Location: </b> <%= link_to @study_room.location.name, location_path(@study_room.location.slug)  %> </p> </li>
  <li> <p> <b> Starting Time: </b> <%= @study_room.start_time.strftime("%A, %B %d %I:%M %p")  %> </p> </li>
  <li> <p> <b> Duration: </b> <%= @study_room.end_time.hour -  @study_room.start_time.hour %> hour</p> </li>
</ul>
<br>


<div id="hosts">
  <%if !@study_room.users.blank?%>
    <h3>Hosts:</h3>
    <%@study_room.user_study_rooms.each do |usr|%>
      <%if usr.owner == true%>
        <span><%=link_to usr.user.username, user_path(usr.user.slug)%></span><br>
      <%end%>
    <%end%>
  <%else%>
    <h3>No host currently</h3>
  <%end%>
</div>
<div id="attendees">
  <%if !@study_room.users.blank?%>
    <h3>Attendees:</h3>
    <%@study_room.users.each do |user|%>
      <span><%=link_to user.username, user_path(user.slug)%></span><br>
    <%end%>
  <%else%>
    <h3>No one currently attending</h3>
  <%end%>
</div>
<div>
<br>

<div id="join_or_leave">
  <% if current_user.study_rooms.include?(@study_room)%>
    <%=render 'leave_button'%>
  <% else %>
    <%=render 'join_button'%>
  <% end %>
</div>
  
<%=render 'comment_box'%>
</div>
<%=link_to "Back to Study Rooms", study_rooms_path%>
<%=link_to "See all Users", users_path%>
<%=link_to "See all Locations", locations_path%>
<%=link_to "See all Categories", categories_path%>
