<div class="container">

  <div class="row" id="study_room_details_and_map">
    <div class="col s5" id="study_room_details">
      <div class="row">
            <div class="col s12">
              <div class="card-panel grey lighten-2">
              <div id="Study Room Details">
                <h4 class="center-align" style="font-size:160%; color: teal"> <b> <%= @study_room.name %> </b> </h4>
                <b> Category: </b> <%= link_to @study_room.category.name, category_path(@study_room.category.slug)  %> <br>
                <b> Location: </b>  <%= link_to @study_room.location.name, location_path(@study_room.location.slug) %> <br>
                <b> Time: </b> <%= format_time(@study_room.start_time) %> <br>
                <b> Duration: </b> <%= (@study_room.end_time.to_time - @study_room.start_time.to_time) / 3600 %> hours <br>
              </div>
              <br>
              <div id="Study Room Host">
                <b> Hosts: </b> <br>
                <%if !@study_room.users.blank?%>
                    <%@study_room.user_study_rooms.each do |usr|%>
                      <%if usr.owner == true%>
                        <span><%=link_to usr.user.username, user_path(usr.user.slug)%></span>
                      <%end%>
                    <%end%>
                <%else%>
                  No host currently
                <%end%>
              </div>
              <br>
              <div id="Study Room Attendess">
                <b> Attendees: </b> <br>
                <%if !@study_room.users.blank?%>
                  <%@study_room.users.each do |user|%>
                    <span><%=link_to user.username, user_path(user.slug)%></span><br>
                  <%end%>
                <%else%>
                  No one currently attending
                <%end%>
              </div>
              <br>
            </div>
          </div>
      </div>
        <div class="row">
          <div class="col s6 center-align">
              <div id="Leave or Join Button">
                <% if current_user.study_rooms.include?(@study_room)%>
                  <%=render 'leave_button'%>
                <% else %>
                  <%=render 'join_button'%>
                <% end %>
              </div>
          </div>
          <div class="col s6 center-align">
            <div id="Edit Button">
              <a class="waves-effect waves-light btn <%= "disabled" unless @study_room.owners.include?(current_user)%>" href=<%="/study_rooms/"+@study_room.slug+"/edit"%>>
                Edit
              </a>
            </div>
          </div>
        </div>
    </div>

    <div class="col s7">
      <div class="card-panel">
        <img class="responsive-img center" src=<%="https://maps.googleapis.com/maps/api/staticmap?size=300x200&zoom=15&scale=2"+Location.coord_output(@study_room.location)%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card-panel">
        <%=render 'comment_box'%>
      </div>
    </div>
  </div>

</div>
