<div class='row center-align'><h2> Find a Study Location! </h2></div>

<div class='row'>
<div class='col s6 m6 map'>
  <div class='card'><img class="responsive-img" src="https://i.kinja-img.com/gawker-media/image/upload/s--VEX-dASR--/c_scale,f_auto,fl_progressive,q_80,w_800/18z0kq4s8swbljpg.jpg"></div>
</div>
<div class='col s6 m6'>
  <%@locations.each do |location| %>
    <div class='card'>
    <h5><%=link_to location.name, location_path(location.slug) %></h5>
    <div><%=location.address%>
      <%=location.wifi%>
      <%=location.volume%>
      <%=location.capacity%>
    
    <div>
    </div>
  <% end %>
</div>
</div>


<%=link_to "See all Study Rooms", study_rooms_path%>
<%=link_to "See all Users", users_path%>
<%=link_to "See all Categories", categories_path%>
