<h1><%= @location.name %> </h1>
<p>Address: <%= @location.address %> </p>

<p> ----------------------------------------------------------------------------  </p>

Upcoming Study Rooms:
<ul>
  <% if @location.upcoming.empty? %>
    No one plans to study here yet. Be the first!
  <% else %>
    <% @location.upcoming.each do |room| %>
      <li> <%= link_to "#{room.name} - #{room.start_time}"%> </li>
    <% end %>
  <% end %>
</ul>

Past Study Rooms:
<ul>
  <% if @location.past.empty? %>
    No one has previously studied here.
  <% else %>
    <% @location.past.each do |room| %>
      <li> <%= link_to "#{room.name} - #{room.start_time}"%> </li>
    <% end %>
  <% end %>
</ul>

<p> ----------------------------------------------------------------------------  </p>

Types of Study Rooms Held Here:
<ul>
    <% if @location.categories.empty? %>
      None yet...
    <% else %>
  <% @location.categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %> </li>
  <% end %>
<% end %>
</ul>

<p> ----------------------------------------------------------------------------  </p>

Connect with other people who have studied here
<ul>
  <% if @location.users.empty? %>
      Start the trend and be the first!
    <% else %>
  <% @location.users.each do |user| %>
    <li><%= link_to user.username, user_path(user) %> </li>
  <% end %>
<% end %>
</ul>

<br>
<br>

<%= link_to "Back to All Locations", locations_path %>
<%=link_to "See all Study Rooms", study_rooms_path%>
<%=link_to "See all Users", users_path%>
<%=link_to "See all Categories", categories_path%>